.navbar {
    background-color: #77b300;
}

#app-navbar-collapse a {
    color: #284d00;
}

#app-navbar-collapse a:hover,
#app-navbar-collapse a:active {
    color: white;
    background-color: #669900;
}

.dropdown-menu {
    background-color: #77b300;
}