.posts .post {
    padding-left: 10px;
    border-left: 2px solid #669900;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
    font-size: 80%;
    margin-bottom: 20px;
}

.posts .post h5 {
    font-weight: bold;
}

.posts h4 {
    color: #284d00;
    margin-bottom: 30px;
    font-weight: bold;
}

.col-md-10 .panel .panel-heading
{
    font-weight: bold;
    background-color: #e6ffb3;
    color: #284d00;
}

.singlepost .row 
{
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.singlepost .col-md-10 .panel .panel-body .well
{
    margin-top: 30px;
    background-color: #e6ffb3;
    color: #669900;
    font-weight: bold;
}

.posts .badge
{
    margin-bottom: 10px;
}

.badge
{
    background-color: #009933;
    color: #ffffff;
}

.col-md-1 .badge
{
    float: right;
}

.singlepost .info {
    color: #aaa;
    font-style: italic;
    font-size: 80%;
    margin-bottom: 20px;
} 

.singlepost .advice {
    padding-left: 10px;
    border-left: 1px solid #669900;
    margin-bottom: 30px;
}

.error {
    border: 2px solid #e65c00;
    background-color: #ffc299;
    color: #e65c00;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top:10px;
    padding-bottom:10px;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success {
    border: 2px solid #669900;
    background-color: #e6ffb3;
    color: #669900;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 10px;
}